@page "/garage-sale/items"
@inherits GarageSaleComponentBase<ItemDto>
<h3>Garage Sale Items</h3>

@if (Service.IsFetchingData)
{
	<p>Loading...</p>
}
else
{
<table>
	<tr>
		<td>Name</td>
		<td>Description</td>
		<td>Is For Sale</td>
		<td>Edit</td>
	</tr>
	@foreach (var item in items)
	{
		<tr>
			<td>
				<a href="/garage-sale/items/@item.Id">@item.Name</a>
			</td>
			<td>@item.Description</td>
			<td>@item.IsForSale</td>
			<td>
				<a href="/garage-sale/items/@item.Id/edit">Edit</a>
			</td>
		</tr>
	}
</table>
}
